<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>글쓰기</h1>
    <a href="/board/write">글쓰기</a>
    <h1>GetMapping</h1>
    <button type="button" onclick="getMapping1()"> 1</button><br>
    <button type="button" onclick="getMapping2()"> 2</button><br>
    <button type="button" onclick="getMapping3()"> 3</button><br>
    <button type="button" onclick="getMapping4()"> 4</button><br>
    <button type="button" onclick="getMapping5()"> 5</button><br>
    <button type="button" onclick="getMapping6()"> 6</button><br>
    <button type="button" onclick="getMapping7()"> 7</button><br>

    <h1>PostMapping</h1>
    <button type="button" onclick="postMapping8()"> post8</button><br>
    <button type="button" onclick="postMapping9()"> post9</button><br>
    <button type="button" onclick="postMapping10()"> post10</button><br>

    <h1>PutMapping</h1>
    <button type="button" onclick="putMapping11()"> put11</button><br>
    <button type="button" onclick="putMapping12()"> put12</button><br>
    <button type="button" onclick="putMapping13()"> put13</button><br>

    <h1>DeleteMapping</h1>
    <button type="button" onclick="deleteMapping14()"> delete14</button><br>
    <button type="button" onclick="deleteMapping15()"> delete15</button><br>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script  src="/js/test.js"></script>
</body>
</html>